.Question__Card {
  margin: var(--mg_md) 0px;
  .Question__Text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap_l);
    h3 {
      font-size: clamp(1rem, 4vw, 1.2rem);
    }
    button {
      display: grid;
      place-items: center;
    }
  }
  .Answer__Container {
    margin-top: var(--mg_sm);
    overflow: hidden;
    p {
      color: hsl(292, 16%, 49%);
    }
  }
}
